.jumbotron{
	height: 60vh;
	padding-top: 0px;
	background:url("../img/fondo.jpg");
	background-size: contain;
	background-position: center center;
	color:white;
	#titulo{
		color:white;
		font-size: 100px;
	}
	.container{
		padding-top: 35px;
		.btn{
		background: rgba(255,255,255,0.2);
		border-style: none;
		}
	}
	
}
